node_modules
.git
.github
*.log
Dockerfile
docker-compose.yml
.dockerignore
README.md
.next
.gitattributes
.gitignore
.env
.env.local
.env.*.local
*.pem
*.key
*.crt
*.secret
*.md
*.txt
test/
tests/
__tests__/
coverage/
.vscode/
.idea/
node_modules/
dist/
build/