# Отключаем все скрипты
ignore-scripts=true
# Запрещаем неофициальные реестры
registry=https://registry.npmjs.org/
# Безопасность пакетов
save-exact=true
package-lock=true
strict-peer-dependencies=true
# Отключаем фонтанные пакеты
fund=false
audit=true